body{
    background-color: aquamarine;
}
h1{
    color: red;
    text-align: center;
    font-family: Arial, sans-serif;
}

h2{
    color: coral;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-family: Arial, sans-serif;
}
